@use '../global' as *;

.footer{
  .footer-contact{
    background-image: url(../images/footer_bg.png);
    background-size: 100px 102px;
    background-position: top left;
    background-repeat: repeat;
    padding: 10.8rem 0 8.3rem;
    text-align: center;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    @media (max-width: 767px){
      padding: 5.9rem 0 7.4rem;
    }
    &__lead{
      display: inline-block;
      font-size: 2.8rem;
      letter-spacing: 0.06em;
      position: relative;
      font-weight: bold;
      @media (max-width: 767px){
        font-size: 2.2rem;
      }
      &::before,&::after{
        content: "";
        width: 5.8rem;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0.9rem;
        @media (max-width: 767px){
          width: 4.5rem;
        }
      }
      &::before{
        transform: rotate(68deg);
        left: -6.3rem;
        @media (max-width: 767px){
        }
      }
      &::after{
        transform: rotate(-68deg);
        right: -5rem;
        @media (max-width: 767px){
        }
      }
    }
    &__links{
      margin-top: 7rem;
      display: flex;
      justify-content: center;
      @media (max-width: 767px){
        margin-top: 6.3rems;
        display: block;
      }
    }
    &__link-btn{
      margin: 0 2.89rem;
      @media (max-width: 767px){
        margin: 0 auto;
      }
    }
    &__link-btn{
      width: 49.6rem;
      height: 10rem;
      @media (max-width: 767px){
        &:not(:first-of-type){
          margin-top: 7rem;
        }
      }
      a{
        font-size: 3.4rem;
        letter-spacing: 0.06em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        &.pc {
          @media (max-width: 767px) {
            display: none;
          }
        }

        &.sp {
          display: none;

          @media (max-width: 767px) {
            display: flex;
          }
        }
      }
    }
    &__link-floating-text{
      width: 41.8rem;
      height: 3.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 0.06em;
      border: 2px solid #000;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.53));
      background: #fff;
      position: absolute;
      top: -1.9rem;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      z-index: 5;
      border-radius: 5px;
      @media (max-width: 767px){
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.8));
      }
    }
  }
  .footer-bottom{
    padding: 4.5rem 0 10.2rem;
    @media (max-width: 767px){
    }
    &__site-link{
      display: flex;
      justify-content: center;
      @media (max-width: 767px){
        display: block;
        text-align: center;
      }
      li{
        margin: 0 4.8rem;
        @media (max-width: 767px){
          &:not(:first-of-type){
            margin-top: 3.5rem;
          }
        }
      }
      a{
        font-size: 2.4rem;
        font-weight: bold;
        @media (max-width: 767px){

        }
      }
    }
    &__sns-link{
      display: flex;
      justify-content: center;
      margin-top:4.5rem;
      @media (max-width: 767px){
        margin-top: 7rem;
      }
      li{
        margin: 0 2.25rem;
        @media (max-width: 767px){
        }
      }
      a{
        height: 5.6rem;
        display: inline-block;
        @media (max-width: 767px){
        }
        img{
          width: auto;
          height: 100%;
          @media (max-width: 767px){
          }
        }
      }
    }

    .support {
      width: 41rem;
      background-color: #f0f0f0;
      border: solid 2px #000;
      margin: 5.6rem auto 0;
      padding: 3.2rem;

      @media (max-width: 767px) {
        width: 60rem;
        padding: 4.8rem;
      }

      &__ttl {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 2.4rem;
          height: 2.4rem;
          margin-right: .4rem;

          @media (max-width: 767px) {
            width: 4rem;
            height: 4rem;
            margin-right: .8rem;
          }
        }

        .ttl {
          color: #000;
          font-size: 2.4rem;
          font-weight: 700;

          @media (max-width: 767px) {
            font-size: 4rem;
          }
        }
      }

      .tel {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 3.2rem;

        @media (max-width: 767px) {
          margin-top: 5.6rem;
        }

        &__wrap {
          color: #000;
          font-size: 1.8rem;
          font-weight: 700;
          display: flex;
          align-items: flex-end;

          @media (max-width: 767px) {
            font-size: 3.2rem;
          }

          .num {
            color: #000;
            font-size: 3.2rem;
            font-weight: 700;

            @media (max-width: 767px) {
              font-size: 5.6rem;
            }
          }
        }

        .s-txt {
          color: #000;
          font-size: 1.6rem;
          margin-top: .8rem;

          @media (max-width: 767px) {
            font-size: 2.4rem;
            margin-top: 1.6rem;
          }
        }
      }

      .txt {
        display: block;
        color: #000;
        font-size: 1.8rem;
        line-height: 140%;
        margin-top: 3.2rem;

        @media (max-width: 767px) {
          font-size: 2.4rem;
          margin-top: 5.6rem;
        }
      }
    }
  }
  .footer-copy{
    font-size: 1.4rem;
    font-weight: 300;
    padding: 2rem 2rem;
    text-align: right;
    background: #000;
    color: #fff;
    @media (max-width: 767px){
      text-align: center;
      padding: 2.4rem 0;
    }
  }
}