

<!-- common-arrow で矢印表示 -->
<div class="common__link-btn-overlap">
  <a class="common__link-btn-overlap-btn -arrow common-arrow" href="">アタッチメントについてはこちら</a>
  <div class="common__link-btn-bg"></div>
</div>



<!-- 中央揃え用 -->
<div class="common__link-btn-overlap">
  <a class="common__link-btn-overlap-btn common__link-btn-overlap-btn--center" href="">アタッチメントについてはこちら</a>
  <div class="common__link-btn-bg"></div>
</div>
