<div id="modal" class="common__modal common__js_modal">
  <div class="common__modal_bg common__js_modal_close"></div>
  <div class="common__modal-content">
    <div class="common__movie-wrap">
      <div class="common__modal__commingsoon"><video  playsinline controls poster="<%= path %>assets/images/movie_thumb_poster_02.png" src=""></video></div>
      <div class="common__close common__js_modal_close"></div>
    </div>
  </div>
</div>