#case-study{
  .common-main-visual {
    &__title {
      line-height: 120%;
    }
  }

  .anchor {
    &__list {
      padding: 0 21.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 767px) {
        padding: unset;
      }

      &__item {
        a {
          color: #fff;
          font-size: 4rem;
          line-height: 100%;
          letter-spacing: .04em;
          background-color: #FFA048;
          padding: 2.8rem 4rem 2.8rem 6rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 6rem;

          @media (max-width: 767px) {
            font-size: 3.6rem;
            padding: 1.8rem 3.2rem 1.8rem 4.8rem;
            gap: 4rem;
          }

          .icon {
            width: 2.8rem;
            height: 1.8rem;

            @media (max-width: 767px) {
              padding-top: .6rem;
            }
          }
        }
      }
    }
  }

  .case-study{
    margin-top: 14rem;
    // padding: 0 0 6.2rem;

    // @media (max-width: 767px){
    //   padding: 0 0 6.2rem;
    // }

    .secTtl {
      font-size: 4.8rem;
      color: #FFA048;
      text-align: center;
      -webkit-text-stroke: .2rem #000;
      letter-spacing: .02em;
      font-weight: 900;

      @media (max-width: 767px) {
        font-size: 5.6rem;
      }
    }

    &__link-list{
      margin-top: 6rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 767px){
        display: block;
      }
    }
    &__link{
      width: 57rem;
      // margin-bottom: 5rem;
      @media (max-width: 767px){
        margin: 0 auto 5rem;
      }
      &:hover{
        .case-study__link-main-text{
          color: #fff;
        }
        .case-study__link-lead-sub{
          color: #fff;
        }
        .case-study__link-text-blk{
          background: #000 !important;
        }
        .case-study__link-btn{
          background: #fff;
        }
      }
      a{
        display: block;
        border: 2px solid #000;
      }
    }
    &__link-block{
      display: flex;
      border-bottom: 2px solid #000;
    }

    &__link-image{
      width: 17.6rem;
      height: auto;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.--image01 {
        img {
          object-position: center;
        }
      }
    }

    &__link-text-blk{
      padding: 3.1rem 2.2rem 4rem 3.4rem;
      background: #fff;
      width: calc(100% - 17.6rem);

      @media (max-width: 767px){
        min-height: 31rem;
      }
    }

    &__link-main-text{
      font-size: 2.6rem;
      font-weight: bold;
      line-height: 1.5384;
      display: flex;
      align-items: left;
      justify-content: center;
      flex-direction: column;
      transition-duration: 0.3s;
      letter-spacing: 0.06em;
      @media (max-width: 767px){
      }
    }
    &__link-lead-sub{
      font-size: 2rem;
      font-weight: 300;
      margin-top: 1.9rem;
      transition-duration: 0.3s;
      @media (max-width: 767px){
      }
    }
    &__link-btn{
      font-size: 2.4rem;
      font-weight: bold;
      background: #FFF100;
      padding: 2rem 7.2rem 2rem 0;
      display: flex;
      justify-content: right;
      position: relative;
      transition-duration: 0.3s;
      letter-spacing: 0.06em;
      @media (max-width: 767px){
      }
      &::after{
        content: "";
        width: 1.6rem;
        height: 2.562rem;
        background: url(../../assets/images/case_study/link_arrow.svg) no-repeat center center / contain;
        display: inline-block;
        position: absolute;
        top: 2rem;
        right: 3.2rem;
        @media (max-width: 767px){
        }
      }
    }
  }

  .proposal-case {
    margin-top: 18rem;
    padding-bottom: 20rem;

    @media (max-width: 767px) {
      margin-top: 16rem;
    }

    .secTtl {
      font-size: 4.8rem;
      color: #FFA048;
      text-align: center;
      -webkit-text-stroke: .2rem #000;
      letter-spacing: .02em;
      font-weight: 900;

      @media (max-width: 767px) {
        font-size: 5.6rem;
      }
    }

    .tabArea {
      margin-top: 8rem;

      .tabList {
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
          flex-wrap: wrap;
        }

        &_item {
          color: #B2B2B2;
          font-size: 2.8rem;
          line-height: 100%;
          letter-spacing: .14em;
          font-weight: 700;
          white-space: nowrap;
          padding: .8rem 3rem;
          border-left: 2px solid #707070;
          position: relative;
          cursor: pointer;

          @media (max-width: 767px) {
            font-size: 2.8rem;
            margin-bottom: 1.2rem;

            &:nth-of-type(4) {
              border-right: 2px solid #707070;
            }
          }

          &.is-active {
            -webkit-text-stroke: .1rem #000;
          }

          &:last-of-type {
            border-right: 2px solid #707070;
          }

          // &:not(:last-child) {
          //   &::before {
          //     content: "";
          //     width: .4rem;
          //     height: 4.8rem;
          //     background-color: #707070;
          //     position: absolute;
          //     top: 50%;
          //     right: -5.6rem;
          //     transform: translateY(-50%);
          //     -webkit-transform: translateY(-50%);
          //     -ms-transform: translateY(-50%);

          //     @media (max-width: 767px) {
          //       width: .4rem;
          //       height: 4.8rem;
          //       right: -2rem;
          //     }
          //   }
          // }
        }
      }
    }

    .tabItem {
      margin-top: 8rem;

      @media (max-width: 767px) {
        margin-top: 10rem;
      }

      &_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem 4rem;

        @media (max-width: 767px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 3.2rem 4rem;
        }

        &_item {
          display: grid;
          grid-template-rows: subgrid;
          grid-row: span 3;
          position: relative;

          &:hover {
            .ttlArea {
              background-color: #000;

              .ttl {
                color: #fff;
              }
            }

            .linkBtn {
              background-color: #fff;
            }
          }

          a {
            border: solid #333 .2rem;
            display: grid;
            grid-template-rows: subgrid;
            grid-row: span 3;
            gap: 0;

            .img {
              width: 100%;
              height: 20rem;

              @media (max-width: 767px) {
                height: 17.6rem;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .ttlArea {
              background-color: #fff;
              border-top: solid .2rem #000;
              padding: 2.4rem;
              display: flex;
              align-items: center;
              justify-content: center;

              @media (max-width: 767px) {
                padding: 3.2rem;
              }

              .ttl {
                font-size: 2.2rem;
                line-height: 120%;
                letter-spacing: .06em;
                font-weight: 700;

                @media (max-width: 767px) {
                  font-size: 2.4rem;
                }
              }
            }

            .linkBtn {
              color: #000;
              font-size: 2.2rem;
              line-height: 100%;
              letter-spacing: .06em;
              font-weight: 700;
              background-color: #FFF100;
              border-top: solid .2rem #000;
              height: 8rem;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              @media (max-width: 767px) {
                font-size: 2.4rem;
                height: 8.6rem;
              }

              &::after {
                content: "";
                width: 1.2rem;
                height: 1.962rem;
                background: url(../../assets/images/case_study/link_arrow.svg) no-repeat center center / contain;
                display: inline-block;
                position: absolute;
                top: 53%;
                right: 3.2rem;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);

                @media (max-width: 767px) {
                  top: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

#case-study-detail{
  .case-study-detail{
    padding: 2.1rem 0 18.4rem;
    @media (max-width: 767px){
      padding: 1.3rem 0 24.5rem;
    }

    &__main-visual {
      width: 100%;
      aspect-ratio: 1200 / 532; 

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__main-lead{
      font-size: 2rem;
      line-height: 1.535;
      font-weight: 400;
      margin-top: 4.5rem;
      @media (max-width: 767px){
        font-size: 2.4rem;
        margin-top: 1.6rem;
        line-height: 2;
      }
    }
    &__main-lead + .case-study-detail__section-ttl{
      margin-top: 6.1rem;
      @media (max-width: 767px){
        margin-top: 8.9rem;
      }
    }
    &__arrow + .case-study-detail__section-ttl{
      margin-top: 5rem;
      @media (max-width: 767px){
        margin-top: 4.4rem;
      }
    }
    &__section-ttl{
      font-size: 3.8rem;
      letter-spacing: 0.1em;
      padding: 2.8rem 0 2.6rem;
      display: flex;
      justify-content: center;
      border: 2px solid #000;
      margin-top: 7.5rem;
      @media (max-width: 767px){
        font-size: 4rem;
        padding: 1.8rem 0 1.4rem;
      }
      &--color{
        background: #E8DFC9;
      }
      &--black{
        background: #000000;
        color: #fff;
      }
    }
    &__section-block{
      display: flex;
      justify-content: space-between;
      margin: 3rem 0 0;
      @media (max-width: 767px){
        margin: 3.8rem auto 0;
        display: block;
      }
    }
    &__section-block + .case-study-detail__section-block{
      margin-top: 6rem;
      @media (max-width: 767px){
      }
    }
    &__section-image{
      width: 57rem;
      aspect-ratio: 570 / 380;

      @media (max-width: 767px){
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__section-text-block{
      width: 59.5rem;
      @media (max-width: 767px){
        width: 100%;
        margin-top: 2.4rem;
      }
    }
    &__section-title{
      font-size: 2.4rem;
      line-height: 1.5;
      margin-top: -0.4rem;
      @media (max-width: 767px){
        margin-top: 0;
        font-size: 3.2rem;
      }
    }
    &__section-text{
      margin-top: 1rem;
      font-size: 2rem;
      line-height: 1.5;
      font-weight: 400;
      @media (max-width: 767px){
        font-size: 2.4rem;
        line-height: 2;
        margin-top: 1.6rem;
      }

      .dots-wrap {
        display: flex;
        line-height: 1.4em;
      }

    }
    &__arrow{
      width: 7rem;
      margin: 8rem auto 0;
      display: block;
      @media (max-width: 767px){
      }
    }
    &__movie-block-title{
      margin-top: 16.3rem;
      font-size: 3.8rem;
      letter-spacing: 0.1em;
      text-align: center;
      @media (max-width: 767px){
        margin-top: 14rem;
      }
    }
    &__movie-block{
      margin-top: 4.5rem;
      @media (max-width: 767px){
        margin-top: 3.5rem;
      }
    }
    &__link-btn-wrap{
      width: 43.6rem;
      height: 9.6rem;
      margin: 9.4rem auto 0;
      @media (max-width: 767px){
      }
    }
    &__link-btn{
      background: #fff;
      font-size: 2.6rem;
      color: #000;
      letter-spacing: 0.06em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      @media (max-width: 767px){
      }
      &:hover{
        color: #fff;
        background: #000;
      }
    }
  }
}