
// hoverでアニメーションさせるボタン
// .common__link-btn-overlapに横幅と縦の幅を指定する
.common__link-btn-overlap{
  position: relative;
}
// ボタンないのレイアウトがページによって違うためアニメーションだけ作成する
.common__link-btn-overlap-btn{
  background: #FFF100;
  width: calc(100% - 0.6rem);
  height: calc(100% - 0.6rem);
  position: absolute;
  z-index: 2;
  bottom: 0.6rem;
  left: 0;
  transition-duration: 0.3s;
  border: 2px solid #000;

  &.common__link-btn-overlap-btn--white{
    background: #fff;

    &:hover{
      background: #000;
    }
  }

  &.co
  mmon__link-btn-overlap-btn--center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

   &:hover{
    transform: translateY(0.6rem) translateX(0.6rem);
    background: #000;
    color: #fff;
   }

   &:hover + .common__link-btn-bg{
    background: unset;
   }

   &.common-arrow{
    &:after{
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1.7rem 0 1.7rem 1.1rem;
      border-color: transparent transparent transparent #000;
      transition-duration: 0.3s;
    }
   }

   &.-arrow{
    &:hover{
      &::after{
        border-color: transparent transparent transparent #fff !important;
      }
    }
   }
}



// テキストや画像が入ったボタンのアニメーション
.common__content-link-btn__wrap{
  position: relative;

  // テキストや画像が入ったボタンのアニメーションの背景
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    display: inline-block;
    position: absolute;
    top: .5rem;
    left:  .5rem;
    z-index: -1;
    transition-duration: 0.2s;
    border: 2px solid #000;
  }

  &:hover{
    .common__content-link-btn{
      transform: translate(0.8rem , 0.8rem);
    }

    &::before{
      background: transparent;
      border: 2px solid transparent;
    }
  }

  &.no-hover {
    pointer-events: none;
  }
}

.common__content-link-btn{
  transition-duration: 0.3s;
}


// トップページだけ
.common__link-btn-overlap-btn--w{
  background: #fff;
  width: calc(100% - 0.6rem);
  height: calc(100% - 0.6rem);
  position: absolute;
  z-index: 2;
  bottom: 0.6rem;
  left: 0;
  transition-duration: 0.3s;
  border: 2px solid #000;
   &:hover{
    transform: translateY(0.6rem) translateX(0.6rem);
    background: #000;
    color: #fff;
    * {
      color: #fff;
     }
   }

   &:hover + .common__link-btn-bg{
    background: unset;
   }
   &.-arrow{
    &:hover{
      &::after{
        border-color: transparent transparent transparent #fff !important;
      }
    }
   }
}
.common__link-btn-bg{
  display: flex;
  justify-content: space-between;
  background: #000;
  width: calc(100% - 0.6rem);
  height: calc(100% - 0.6rem);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition-duration: 0.3s;
}





// 下層ページMV
.common-main-visual{
  padding-top: calc(30 * (100vw / 1920));
  position: relative;
  margin-bottom: 2.6rem;
  margin-top: calc(100 * (100vw / 1920));
  height: calc(400 * (100vw / 1920));
  text-align: center;
  background: #FFC793;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 767px){
    min-height: 26.7rem;
    height: auto;
    margin-top: 10rem;
  }

  &.common-main-visual--showroom{
    height: auto;

    .common-main-visual__title{
      padding: calc(30 * (100vw / 1920)) 0;
    }
  }

  &::before{
    content: "";
    width: 100%;
    height: calc(30 * (100vw / 1920));
    display: inline-block;
    top: 0;
    left: 0;
    background: #F3EFE4;
    position: absolute;

    @media (max-width: 767px){
      height: 3rem;
    }
  }

  &__title{
    font-size: calc(60 * (100vw / 1920));
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 0.2rem #000;
    text-stroke: 0.2rem #000;
    letter-spacing: 0.1em;

    @media (max-width: 767px){
      font-size: 4.4rem;
      -webkit-text-stroke: 0.15rem #000;
      text-stroke: 0.15rem #000;
      line-height: 1.4;
    }

    &.common-main-visual__title--small{
      font-size: calc(55 * (100vw / 1920));
      @media (max-width: 767px){
        font-size: 3.2rem;
      }
    }
  }

  &__lead{
    font-size: calc(26 * (100vw / 1920));
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-top: calc(6 * (100vw / 1920));
    text-align: center;
    line-height: 1.5384;

    @media (max-width: 767px){
      font-size: 2.4rem;
      padding: 0 2rem;
    }
  }
}





// 下層ページ　左にラインがあるタイトル
.common__line-sub-title{
  font-size: 3rem;
  display: flex;
  align-items: center;
  &::before{
    content: "";
    display: inline-block;
    width: 0.6rem;
    height: 3rem;
    background: #FFA048;
    margin-right: 1.4rem;
  }
  @media (max-width: 767px){
    font-size: 3.2rem;
    &::before{
      content: "";
      width: 0.6rem;
      height: 3.2rem;
      background: #FFA048;
      margin-right: 1.4rem;
    }
  }
}






.common-section{
  // 下層ページのリスト 特徴、ARシュミレーション
  // ※リストのマージンはページごとに
  &__list{
    display: flex;
    @media (max-width: 767px){
      display: block;
    }
    li{
      &:last-of-type{
        border-right: 2px solid #000;
      }
      @media (max-width: 767px){
        border: 2px solid #000;
        &:not(:first-of-type){
          margin-top: 1.78rem;
        }
      }
    }
  }
  &__card{
    width: 33.3333%;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    @media (max-width: 767px){
      width: 100%;
    }
  }
  &__card-title{
    font-size: 2.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #E8DFC9;
    border-bottom: 2px solid #000;
    line-height: 1.5;
    height: 12.5rem;
    @media (max-width: 767px){
      font-size: 3.2rem;
      height: 13rem;
    }
  }
  &__card-box{
    padding: 3rem 2rem 2.2rem;
    @media (max-width: 767px){
      display: flex;
      flex-direction: column-reverse;
      padding: 1.6rem 2rem 2.2rem;
    }
  }
  &__card-text{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.45;
    @media (max-width: 767px){
      font-size: 2.4rem;
      margin-top: 2.2rem;
    }
  }
  &__card-image{
    margin-top: 4.5rem;
  }
}




// 特徴のリスト
.common-feature{
  &__list{
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px){
      display: block;
    }
  }
  &__item{
    position: relative;
    @media (max-width: 767px){
      width: 57rem;
      margin: 0 auto 6.6rem;
    }
    &:hover{
        .common-feature__card{
          background: #000;
          border: 3px solid #fff;
          @media (max-width: 1024px){
            border: 3px solid #000;
          }
        }
        img{
          opacity: 0;
          @media (max-width: 1024px){
            opacity: 1;
          }
        }
        .common-feature__card-lead{
          transform: translateY(-12rem) scale(1.15);
          color: #fff;
          @media (max-width: 1024px){
            transform: unset;
          }
        }
        .common-feature__card-floating-text{
          border: 3px solid #fff;
        }
        .common-feature__card-title{
          @media (max-width: 1024px){
            color: #fff;
          }
        }
        &::after{
          opacity: 0;
        }
    }
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      background: #000;
      position: absolute;
      z-index: 1;
      bottom: -0.4rem;
      right: -0.4rem;
      @media (max-width: 767px){
      }
    }
  }
  &__card{
    background: #fff;
    position: relative;
    z-index: 2;
    border: .4rem solid #000;
    width: 34rem;
    min-height: 36.6rem;
    padding: 5.8rem 0 2.5rem;
    transition-duration: 0.3s;
    @media (max-width: 767px){
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__card-floating-text{
    transition-duration: 0.3s;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background: #000;
    display: inline-flex;
    align-items: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    top: -3.7rem;
    white-space: nowrap;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    width: 19rem;
    height: 8rem;
    justify-content: center;
    letter-spacing: 0.03em;
    @media (max-width: 767px){
      top: -3.7rem;
      height: 6.4rem;
    }
    &--l{
      font-size: 6.2rem;
      font-family: inherit;
      font-weight: bold;
      color: inherit;
      letter-spacing: 0;
      margin-left: .95rem;
      padding-bottom: 0.6rem;
      @media (max-width: 767px){
        font-size: 5rem;
      }
    }
  }
  &__text-blk{
    @media (max-width: 767px){
      width: 47%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__card-title{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.07em;
    @media (max-width: 767px){
    }
  }
  &__card-img{
    width: 21.3rem;
    margin: 2rem auto 0;
    transition-duration: 0.3s;
    @media (max-width: 767px){
      width: 13.9rem;
    }
  }
  &__card-lead{
    font-size: 2.4rem;
    line-height: 1.5;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    transition-duration: 0.3s;
    @media (max-width: 767px){
      margin-top: 0;
      width: 53%;
      text-align: center;
    }
  }
}

.common-movie-wrap{
  position: relative;
  width: 99.3rem;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 993 / 562;
  @media (max-width: 767px){
    width: 100%;
  }
  video{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
}
.common-movie--small{
  .common-movie-wrap{
    width: 47rem;
    @media (max-width: 767px){
      width: 100%;
    }
  }
}

//カミングスーンの動画の場合
.common-movie-wrap-thumb{
  height: 100%;
  position: relative;
  &::after{
    content: "Coming Soon";
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    font-size: 3.2rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 0.06em;
  }
  img{
    height: 100%;
    object-fit: cover;
  }
}
.common__Link-comming-soon{
  pointer-events: none;
  &::after{
    content: "Coming Soon";
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    font-size: 3.2rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 0.06em;
  }
  &::before{
    display: none;
  }
}
.common__Link-comming-soon.bgBlk{
  &::after{
    background: rgba($color: #000000, $alpha: 1);
  }
  &::before{
    display: none;
  }
}


// 共通モーダル
    /* modal */
    .common__modal__commingsoon {
      position: relative;
      &::after{
        content: "Coming Soon";
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.6);
        position: absolute;
        font-size: 2.8rem;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        letter-spacing: 0.06em;
      }
    }
    .common__modal {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10000;
      overflow: auto;
      background: rgba($color: #4D4D4D, $alpha: 0.5);

      .common-movie-wrap {
        width: 56.25vw;

        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .common__movie-wrap.show {
      /* overflow: auto; */
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      transform: scaleY(1);
    }
    .common__modal.is_show {
      display: block;
    }
    .common__modal_bg {
      background: unset;
      height: 100%;
      position: absolute;
      width: 100%;
    }
    .common__modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      position: absolute;
      width: calc(1400 * (100vw / 1920));

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .common__movie-wrap {
      position: relative;
      background-color: #FFFFFF;
      width: 100%;
      // height: calc(926 * (100vw / 1920));
      padding: calc(55 * (100vw / 1920)) calc(44 * (100vw / 1920)) calc(44 * (100vw / 1920));
      border-top: calc(20 * (100vw / 1920)) #FFC793 solid;
      border-bottom: calc(20 * (100vw / 1920)) #FFC793 solid;
      /* padding-top: 56.25%; */
      /* transform: scale(0.7,0.7); */
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      -o-transition: -o-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
      text-align: center;

      @media (max-width: 767px) {
        width: 100%;
      }

      video{
        width: calc(1080 * (100vw / 1920));
        display: block;
        // border: 2px solid #000;
        cursor: pointer;
        @media (max-width: 767px){
          width: 66rem;
        }
      }
    }
    .common__movie-container{
      display: inline-block;
      margin: calc(22 * (100vw / 1920)) auto 0;
      position: relative;

      @media (max-width: 767px){
        width: 100%;
        margin-top: 0;
      }
    }
    .common__movie-play-tumb {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .common__movie-wrap .scr-wrap.show {
      opacity: 1;
    }
  
    .common__close {
      width: calc(68 * (100vw / 1920));
      height: calc(68 * (100vw / 1920));
      position: absolute;
      right: calc(44 * (100vw / 1920));
      top: calc(20 * (100vw / 1920));
      cursor: pointer;
      transition-duration: 0.3s;
      @media (max-width: 767px){
        width: 4.4rem;
        height: 4.4rem;
      }
    }
    .common__close::before {
      position: absolute;
      top: calc(33 * (100vw / 1920));
      left: 0;
      width: calc(66 * (100vw / 1920));
      height: calc(4 * (100vw / 1920));
      content: "";
      background-color: #000;
      transform: rotate(45deg);
      @media (max-width: 767px){
        background-color: #fff;
        top: 2.2rem;
        left: 0;
        width: 4.4rem;
        height: 0.4rem;
      }
    }
    .common__close::after {
      position: absolute;
      top: calc(33 * (100vw / 1920));
      left: 0;
      width: calc(66 * (100vw / 1920));
      height: calc(4 * (100vw / 1920));
      content: "";
      background-color: #000;
      transform: rotate(-45deg);
      @media (max-width: 767px){
        background-color: #fff;
        top: 2.2rem;
        left: 0;
        width: 4.4rem;
        height: 0.4rem;
      }
    }
    .common__close::after,
    .common__close::before{
      transform-origin: center;
    }
  
    @media screen and (max-width: 768px) {
      .common__modal-content {
        width: 100%;
      }
  
      .common__close {
        top: -8rem;
        right: 3rem;
      }
    }
    