@forward "common";
@forward "feature";
@forward "case_study";
@forward "attachment";
@forward "product";
@forward "faq";

#index{
  .main-visual{
    width: 100vw;
    overflow: hidden;

    @media (max-width: 1024px) {
      min-height: unset;
    }

    &__wrapper{
      width: calc(1440 * (100vw / 1920));
      display: flex;
      justify-content: space-between;
      height: 100%;
      margin: 0 auto;

      @media (max-width: 1024px){
        width: 76.5vw;
      }

      @media (max-width: 767px){
        width: auto;
        padding: 0 4.8rem;
      }
    }

    &__left-block{
      width: calc(700 * (100vw / 1920));
      position: relative;

      @media (max-width: 767px){
        width: 0%;
      }
    }

    &__title{
      width: calc(640 * (100vw / 1920));
      margin: 0 auto;
      padding-top: calc(526 * (100vw / 1920));
      position: relative;
      z-index: 2;

      @media (max-width: 767px){
        width: 29.5rem;
        padding-top: 30rem;
        margin-left: auto;
        margin-right: 2.15rem;
      }
    }

    &__image{
      width: calc(1120 * (100vw / 1920));
      position: absolute;
      left: calc(-260 * (100vw / 1920));
      top: calc(107 * (100vw / 1920));

      @media (max-width: 767px){
        width: 80rem;
        left: -26rem;
        top: 36.3rem;
      }
    }

    &__right-block{
      width: calc(568 * (100vw / 1920));
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: calc(120 * (100vw / 1920));

      @media (max-width: 767px){
        width: 100%;
        padding-top: 19.5rem;
        padding-left: 0;
        justify-content: unset;
      }
    }

    &__problem-list{
      display: flex;
      justify-content: space-between;

      @media (max-width: 767px){
        padding: 0 2rem;
      }
    }

    &__problem-item{
      width: calc(127 * (100vw / 1920));
      height: calc(100 * (100vw / 1920));
      background: #000;
      color: #fff;
      font-size: calc(24 * (100vw / 1920));
      font-weight: bold;
      letter-spacing: 0.01em;
      line-height: 1.458;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      
      @media (max-width: 767px){
        width: 12.6rem;
        height: 10.4rem;
        font-size: 2.4rem;
        border: none;
      }

      &:after{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: calc(14 * (100vw / 1920)) calc(14 * (100vw / 1920)) 0 0;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        bottom: calc(-14 * (100vw / 1920));
        right: calc(12 * (100vw / 1920));

        @media (max-width: 767px){
          border-width: 1.4rem 1.4rem 0 0;
          bottom: -1.1rem;
          right: 1.2rem;
        }
      }
    }

    &__description{
      font-size: calc(22 * (100vw / 1920));
      font-weight: bold;
      line-height: 1.458;
      margin-top: calc(24 * (100vw / 1920));

      @media (max-width: 767px){
        width: 29.8rem;
        text-align: left;
        margin: 3rem 1.5rem 0 auto;
        font-size: 2.4rem;
        line-height: 1.8888;
        position: relative;
        z-index: 2;
      }
    }

    &__movie-wrap{
      margin-top: calc(26 * (100vw / 1920));
      position: relative;
      width: 100%;
      padding-top: 56.5%;

      @media (max-width: 767px){
        margin-top: 4rem;
        padding-top: 0;
        display: flex;
        justify-content: right;
      }

      &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba($color: #FFC793, $alpha: 0.73);
        position: absolute;
        left: calc(10 * (100vw / 1920));
        bottom: calc(-10 * (100vw / 1920));

        @media (max-width: 767px){
          display: none;
        }
      }

      video{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        @media (max-width: 767px){
          display: none;
        }
      }

      iframe {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        @media (max-width: 767px){
          display: none;
        }
      }
    }

    .video_btn {
      position: absolute;
      width: calc(80 * (100vw / 1920));
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      cursor: pointer;

      @media (max-width: 767px){
        display: none;
      }
    }

    &__movie-txt{
      display: inline-flex;
      align-items: center;
      position: absolute;
      right: calc(-16.7 * (100vw / 1920));
      bottom: calc(14.2 * (100vw / 1920));
      z-index: 5;
      font-size: calc(22 * (100vw / 1920));
      font-weight: bold;
      background: #fff;
      letter-spacing: 0.06em;
      padding:  calc(15 * (100vw / 1920))  calc(10 * (100vw / 1920)) calc(15 * (100vw / 1920)) calc(17 * (100vw / 1920)) ;
      border: 2px solid #000;
      transition-duration: 0.3s;
      z-index: 2;

      @media (max-width: 767px){
        position: static;
        padding: 2rem ;
        font-size: 2.8rem;
        background: #FFF100;
        margin-left: auto;
        margin-right: 3.2rem;
      }

      &::after{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: calc(8.4 * (100vw / 1920)) 0 calc(8.4 * (100vw / 1920)) calc(14.62 * (100vw / 1920));
        border-color: transparent transparent transparent #000;
        margin-left: calc(12.7 * (100vw / 1920));
        transition-duration: 0.3s;
        @media (max-width: 767px){
          border-width: 1.1rem 0 1.1rem 2.4rem;
          margin-left: 1.07rem;
        }
      }

      &:hover{
        background: #000;
        color: #fff;

        &::after{
          border-color: transparent transparent transparent #fff;
        }
      }      
    }

    &__animation-links{
      margin-top: calc(32 * (100vw / 1920));
      display: flex;
      justify-content: space-between;
      text-align: center;
      position: relative;
      z-index: 2;

      @media (max-width: 767px){
        margin-top: 7rem;
      }
    }

    &__animation-item{
      width: calc(140 * (100vw / 1920));

      @media (max-width: 1024px){
        width: 30%;
      }
    }

    &__animation-click{
      font-size: calc(18 * (100vw / 1920));
      font-weight: bold;
      letter-spacing: 0.06em;
      text-align: center;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      // top: -1rem;
      top: 0;
      transition: all .5s;

      @media (max-width: 767px){
        font-size: 2.1rem;
      }
    }

    &__animation-box{
      width: 100%;
      height: calc(70 * (100vw / 1920));
      background: #e8dfc9;
      border: 1px solid #000;
      display: block;
      // margin-top: calc(-4 * (100vw / 1920));
      margin-top: calc(10 * (100vw / 1920));
      position: relative;
      top: 0;
      transition: all .5s;

      @media (max-width: 767px){
        height: 10rem;
        margin-top: calc(4 * (100vw / 375));
      }

      &.is-active {
        top: -1rem;
      }
    }
    
    &__animation-text{
      font-size: calc(18 * (100vw / 1920));
      font-weight: bold;
      line-height: 1.44444;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;

      @media (max-width: 767px){
        font-size: 2.2rem;
        padding-top: 0;
      }
    }

    &__animation-trigger{
      display: block;
      height: 100%;

      @media (min-width: 768px){
        &:hover {
          .main-visual__animation-click {
            top: calc(39 * (100vw / 1920));
          }
        }
      }
    }
  }

  /* アニメーション */
  @keyframes rotation-y {
    0% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(360deg);
    }
  }

  .main-visual__border{
    display: block;
    width: 100vw;
    height: 30px;
    background-image: url(../images/mv_border.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: 50%;
    position: relative;
    z-index: 2;
    bottom: 0;

    @media (max-width: 767px){
      background-position: center center;
    }
  }

  .example{
    padding: 12rem 0;

    @media (max-width: 767px){
      padding: 12rem 0;
    }

    &__title-wrap{
      display: flex;
      justify-content: center;
    }

    &__title{
      font-size: 4.8rem;
      font-weight: 900;
      letter-spacing: 0.1em;
      text-align: center;
      position: relative;

      @media (max-width: 767px){
        font-size: 3.6rem;
      }

      // タイトルの下線
      &::before{
        content: "";
        width: 96%;
        height: 1.9rem;
        background: rgba($color: #FFC793, $alpha: 0.67);
        position: absolute;
        bottom: -.9rem;
        left: 0;
        z-index: -1;
      }

      // 左の装飾
      &::after{
        content: "";
        width: 5.7rem;
        height: 4.7rem;
        background: url(../images/exmple_ttl_obj_01.svg) no-repeat center center / contain;
        position: absolute;
        left: 9rem;
        top: -2.7rem;

        @media (max-width: 767px) {
          left: 6rem;
          top: -3.7rem;
        }
      }

      &--l{
        font-size: 6rem;
        position: relative;
        z-index: 2;
        letter-spacing: 0.1em;
        font-weight: 900;

        @media (max-width: 767px){
          font-size: 5rem;
        }

        // 右側の装飾
        &::after{
          content: "";
          width: 4.7rem;
          height: 6.5rem;
          background: url(../images/exmple_ttl_obj_02.svg) no-repeat center center / contain;
          position: absolute;
          right: -5rem;
          top: -1.9rem;

          @media (max-width: 767px){
            right: -4.7rem;
            top: -3rem;
          }
        }
      }
    }

    &__lead{
      margin-top: 5.6rem;
      text-align: center;
      font-size: 2.6rem;
      letter-spacing: 0.06em;
      line-height: 1.8em;
      font-weight: 500;

      @media (max-width: 767px){
        font-size: 2.8rem;
        margin-top: 4.2rem;
        padding: 0 4.8rem;
      }

      &--l{
        font-size: 3.2rem;
        font-weight: 600;
        display: inline-block;
        position: relative;

        @media (max-width: 767px) {
          font-size: 4rem;
          margin-top: 1rem;
        }

        &::before{
          content: "";
          width: 97%;
          height: 0.2rem;
          background: #000000;
          display: inline-block;
          position: absolute;
          bottom: -1.4rem;
          left: 0;
          @media (max-width: 767px){
          }
        }
      }
    }

    &__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 5.6rem;

      @media (max-width: 767px){
        display: block;
      }
    }

    &__list-item {
      font-size: 2.4rem;
      letter-spacing: .02em;
      line-height: 2;
      padding-left: 2rem;
      position: relative;

      @media (max-width: 767px) {
        font-size: 2.8rem;
      }

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: #ffc793;
        border-radius: 100vmax;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
    }

    // &__item{
    //   width: 28rem;
    //   border: .4rem solid #000;
    //   background: #E8DFC9;
    //   position: relative;

    //   @media (max-width: 767px){
    //     width: 28rem;

    //     &:not(:last-child) {
    //       margin-bottom: 3rem;
    //     }
    //   }

    //   &__link{
    //     width: 100%;
    //     height: 100%;
    //     display: inline-block;
    //     position: relative;
        
    //     &::after{
    //       content: "解決事例を見る";
    //       display: flex;
    //       justify-content: center;
    //       align-items: center;
    //       font-size: calc(32 * (100vw / 1920));
    //       color: #fff;
    //       background: rgba($color: #000000, $alpha: 0.43);
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       width: 100%;
    //       height: 100%;
    //       font-weight: bold;
    //       letter-spacing: 0.06em;
    //       transition-duration: 0.3s;
    //       visibility: hidden;
    //       opacity: 0;
    //     }
        
    //     &:hover{
    //       &::after{
    //         opacity: 1;
    //         visibility: visible;
    //       }
    //     }
    //   }
    // }

    // &__item-image {
    //   aspect-ratio: 238 / 180;
    //   transition-duration: 0.3s;

    //   img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     object-position: top;
    //   }
    // }

    // &__item-caption{
    //   font-size: 2.2rem;
    //   line-height: 1.5;
    //   text-align: center;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   min-height: calc(78 * (100vw / 1920));
    //   transition-duration: .3s;
      
    //   @media (max-width: 767px){
    //     font-size: 2.3rem;
    //     min-height: 9.2rem;
    //   }
    // }

    &__link-btn-wrap{
      width: 54rem;
      height: 9.6rem;
      margin: 13.5rem auto 0;

      @media (max-width: 767px){
        margin-top: 8rem;
      }
    }

    &__link-btn{
      font-size: 3rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2.5rem 0 11rem;
      @media (max-width: 767px){
      }
      &.-arrow{
        &:after{
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 1.7rem 0 1.7rem 1.1rem;
          border-color: transparent transparent transparent #000;
          transition-duration: 0.3s;
          @media (max-width: 767px){
          }
        }
      }
    }

    .s-inner {
      padding: 0;
    }
  }
  .feature{
    background: #FFC793;
    padding: 12rem 0 9rem;
    @media (max-width: 767px){
      margin-top: 14rem 0 14rems;
    }
    &__title{
      font-size: 5.2rem;
      text-align: center;
      letter-spacing: 0.06em;
      font-weight: 900;
      color: #fff;
      -webkit-text-stroke: 0.2rem #000;
      text-stroke: 0.2rem #000;
      @media (max-width: 767px){
        font-size: 5rem;
      }
    }
    &__lead{
      font-size: 2.6rem;
      text-align: center;
      line-height: 1.53846;
      margin-top: 3.8rem;
      letter-spacing: 0.02em;
      font-weight: 500;
      @media (max-width: 767px){
        font-size: 2.4rem;
        margin-top: 6.6rem;
      }
    }
    &__list{
      margin-top: 10rem;
      @media (max-width: 767px){
        margin-top: 9rem;
      }
    }
    &__link-btn-wrap{
      width: 43rem;
      height: 9.6rem;
      margin: 8rem auto 0;
      @media (max-width: 767px){
      }
    }
    &__link-btn{
      font-size: 3rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 0 0 0 8.9rem;
      @media (max-width: 767px){
      }
      &.-arrow{
        &:after{
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 1.7rem 0 1.7rem 1.1rem;
          border-color: transparent transparent transparent #000;
          transition-duration: 0.3s;
          position: absolute;
          right: 3.85rem;
          top: 2.8rem;
          @media (max-width: 767px){
          }
        }
      }
    }
  }
  .link-section{
    padding: 13.2rem 0 13.1rem;

    @media (max-width: 767px){
      padding: 11.4rem 0 11.6rem;
    }

    &__banner-list{
      display: flex;
      justify-content: center;

      @media (max-width: 767px){
        display: block;
      }
    }

    &__banner{
      width: 100%;
      height: 22.7rem;
      margin: 0 1.34rem;

      @media (max-width: 767px){
        margin: 0 auto 2.5rem;
      }
    }

    &__banner-flx-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__banner-text-block{
      padding-left: 4rem;

      @media (max-width: 767px) {
        padding: 0 2rem;
      }
    }

    &__banner-ttl{
      font-size: 2.8rem;
      letter-spacing: -0.06em;

      @media (max-width: 767px){
        font-size: 3.2rem;
        line-height: 120%;
      }
    }

    &__banner-text{
      font-size: 2rem;
      line-height: 1.444;
      margin-top: 2.2rem;

      @media (max-width: 767px){
        font-size: 2rem;
      }
    }

    &__banner-img-block{
      flex: 0 0 40rem;
      height: 100%;

      img{
        height: 100%;
        object-fit: cover;
      }
    }
    &__links{
      display: flex;
      margin-top: 3rem;

      @media (max-width: 767px){
        flex-wrap: wrap;
        margin-top: 0;
      }

      &.link-section__links--column4{
        justify-content: space-between;

        @media (max-width: 767px){
          li{
            margin: 0 0 2.5rem;
          }
        }
      }

      &.link-section__links--column3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        @media (max-width: 767px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      &.link-section__links--column2{
        justify-content: center;
        padding: 0;

        @media (max-width: 767px){
          justify-content: space-between;
        }

        li{
          margin: 0 1.34rem;

          @media (max-width: 767px){
            width: calc((100% - 1.6rem) / 2);
            margin: 0;
          }
        }
      }
    }
    &__link-btn{
      width: 30rem;
      height: 12.6rem;

      @media (max-width: 767px){
        width: calc((100% - 1.6rem) / 2);
      }

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        font-weight: 900;
        letter-spacing: 0.06em;
        @media (max-width: 767px){
        }
      }

      &:nth-of-type(n+3) {
        @media (max-width: 767px) {
          margin-top: 1.8rem;
        }
      }
    }
  }

  #modal01 {
    .common__movie-wrap {
      iframe {
        width: 56.25vw;
        display: block;
        cursor: pointer;

        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}

.armwrap {
  margin-top: 2rem;
  padding-top: 2.4rem;
  position: relative;

  @media (max-width: 767px) {
    padding-top: 1.4rem;
  }
}

.arm {
  width: calc(160 * (100vw / 1920));
  height: calc(160 * (100vw / 1920));
  background-image: url(../../assets/images/arm.png);
  background-repeat: no-repeat;
  background-size: contain;
	position: absolute; /* JSで操作しやすく */
	top: 4%;
  left: 20%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transition: all 0.5s ease; /* 移動をスムーズに */

  @media (max-width: 767px) {
    width: calc(110 * (100vw / 375));
    height: calc(110 * (100vw / 375));
  }
}

#arm::after {
  content: "";
  position: absolute;
  top: 7%;
  left: 20%;
  width: 0;
  height: calc(2 * (100vw / 1920));
  background: #a1a1a1;
  transform: translateY(-50%) rotate(90deg);
  transition: width 0.3s ease;
  transform-origin: left;
}

.arm--line::after {
  width: calc(100 * (100vw / 1920)) !important; /* 伸びる長さはここで調整 */
}