<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/case/",
  title: "導入事例 | フレックスアーム FAW | CKD株式会社",
  keywords: "フレックスアーム,助力装置,バランサ,導入事例",
  description: "フレックスアームの導入事例をご紹介します。"}); 
  %>

<body id="case-study">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">
        事例集<br>
        （導入・用途）
      </h1>
      <p class="common-main-visual__lead">フレックスアームの導入事例と用途事例をご紹介します。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">フレックスアーム</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">事例集</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <nav class="anchor">
      <div class="l-inner">
        <ul class="anchor__list">
          <li class="anchor__list__item">
            <a href="#instance">
                導入事例
              <img src="../assets/images/case_study/icon_anchor.svg" alt="" class="icon">
            </a>
          </li>
          <li class="anchor__list__item">
            <a href="#proposal-case">
              用途例
              <img src="../assets/images/case_study/icon_anchor.svg" alt="" class="icon">
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="case-study" id="instance">
      <div class="l-inner">
        <h2 class="secTtl">導入事例</h2>
        <ul class="case-study__link-list">
          <li class="case-study__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="./case01/">
              <div class="case-study__link-block">
                <figure class="case-study__link-image --image01">
                  <img src="../assets/images/case_study/link_img_01.jpg" alt="サムネイル">
                </figure>
                <div class="case-study__link-text-blk">
                  <h2 data-mh="ttl" class="case-study__link-main-text">
                    協働ロボットの可搬質量アップ！<br>
                    フレックスアームでのサポートによる少人化・無人化
                  </h2>
                  <p class="case-study__link-lead-sub">株式会社シリックス様</p>
                </div>
              </div>
              <div class="case-study__link-btn">詳しく見る</div>
            </a>
          </li>
          <li class="case-study__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="./case02/">
              <div class="case-study__link-block">
                <figure class="case-study__link-image">
                  <img src="../assets/images/case_study/link_img_03.jpg" alt="サムネイル">
                </figure>
                <div class="case-study__link-text-blk">
                  <h2 data-mh="ttl" class="case-study__link-main-text">
                    加工設備の作業環境改善
                  </h2>
                  <p class="case-study__link-lead-sub">CKD株式会社 小牧工場</p>
                </div>
              </div>
              <div class="case-study__link-btn">詳しく見る</div>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="proposal-case" id="proposal-case">
      <div class="l-inner">
        <h2 class="secTtl">用途例</h2>
        <div class="tabArea">
          <ul class="tabList">
            <li class="tabList_item is-active" id="tab1">すべて</li>
            <li class="tabList_item" id="tab2">工作機械</li>
            <li class="tabList_item" id="tab3">製造</li>
            <li class="tabList_item" id="tab4">食品</li>
            <li class="tabList_item" id="tab5">化学</li>
            <li class="tabList_item" id="tab5">電機</li>
            <li class="tabList_item" id="tab6">その他</li>
          </ul>
        </div>
        <div class="tabItem">
          <ul class="tabItem_list">
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case01.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img03.jpg" alt="モータ部品組立工程">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">正面フライスカッタ検査工程</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case02.pdf" class="common__content-link-btn" target="_blank"> 
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img04.png" alt="自動車部品組立工程">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">段ボール出荷工程</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case03.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img01.jpg" alt="研磨機用おもり搬送">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">クラフト袋のパレタイズ</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case04.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img07.jpg" alt="ペール缶液体注入作業">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">コンテナ(ばんじゅう)出荷工程</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case05.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img02.jpg" alt="テーブルの鬼目ナット取付">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">発泡スチロール搬送</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case06.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img05.jpg" alt="無限軌道部品取付・取外し">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">一斗缶出荷工程</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case07.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img06.jpg" alt="搬送水中ポンプの清掃作業">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">制御ボックス部品搬送</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case07.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img06.jpg" alt="搬送水中ポンプの清掃作業">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">ポンプ組立補助</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case07.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img06.jpg" alt="搬送水中ポンプの清掃作業">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">金属部品の投入</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case07.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img06.jpg" alt="搬送水中ポンプの清掃作業">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">金属部品の投入</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
          </ul>
          <ul class="tabItem_list">
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case01.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img03.jpg" alt="モータ部品組立工程">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">正面フライスカッタ検査工程</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case02.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img04.png" alt="自動車部品組立工程">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">金属部品の投入</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case02.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img04.png" alt="自動車部品組立工程">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">金属部品の投入</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
          </ul>
          <ul class="tabItem_list">
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case03.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img01.jpg" alt="研磨機用おもり搬送">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">発泡スチロール搬送</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case03.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img01.jpg" alt="研磨機用おもり搬送">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">ポンプ組立補助</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
          </ul>
          <ul class="tabItem_list">
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case04.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img07.jpg" alt="ペール缶液体注入作業">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">段ボール出荷工程</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case04.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img07.jpg" alt="ペール缶液体注入作業">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">コンテナ(ばんじゅう)出荷工程</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
          </ul>
          <ul class="tabItem_list">
            <li class="tabItem_list_item common__content-link-btn__wrap">
              <a href="../assets/pdf/proposal-case05.pdf" class="common__content-link-btn" target="_blank">
                <picture class="img">
                  <img src="../assets/images/case_study/proposal-case_img02.jpg" alt="テーブルの鬼目ナット取付">
                </picture>
                <div class="ttlArea">
                  <h3 class="ttl">クラフト袋のパレタイズ</h3>
                </div>
                <div class="linkBtn">
                  詳しく見る
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>