<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/faq/",
  title: "FAQ | フレックスアーム FAW | CKD株式会社",
  keywords: "フレックスアーム,助力装置,バランサ,FAQ",
  description: "フレックスアームに関するよくあるご質問にお答えします。"}); 
  %>

<body id="faq">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">FAQ</h1>
      <p class="common-main-visual__lead">ご質問にお答えします。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">フレックスアーム</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">FAQ</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section class="faq">
      <div class="l-inner">
        <h2 class="faq__title">クリックで回答を<br class="sp">ご覧いただけます</h2>
        <ul class="faq__list">
          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">フレックスアームの概算費用を教えてください。</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    仕様により異なりますので、まずは<a href="https://www.ckd-contact.com/form/96a4ca4f3c/input" class="txt-link" target="_blank">お問合せフォーム</a>よりご相談ください。<br>
                    お客様のご要望に応じた最適な仕様をご提案の上、概算価格をご連絡いたします。
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">設置場所に指定はありますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    平らで、粉塵が少なく、水がかからない場所を推奨しております。<br>
                    特殊環境（粉塵、水滴、クリーンルームなど）でのご使用を検討されている場合は、<a href="https://www.ckd-contact.com/form/96a4ca4f3c/input" class="txt-link" target="_blank">お問合せフォーム</a>よりご相談ください。
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">導入にあたって、必要な環境や準備するものはありますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">エア源のご準備をお願いいたします。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">見学やデモは可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">見学は可能です。ただし、お客様先でのデモンストレーションは実施しておりません。詳細はお問い合わせください。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">納期はどれくらいですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">通常は2か月ほどですが、仕様や時期によって変動する場合があります。詳しくはお問い合わせください。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">PAWシリーズとの違いは何ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  PAWシリーズは、使用箇所に合わせて軸構成を選択し、下からアプローチするタイプのバランサです。<br>
                  一方、FAWシリーズは上下ストロークが1.5mに対し、装置全高が2.5mと低く（※）、天井が低い場所にも設置可能なパッケージ仕様です。<br>
                  ※使用条件により全高が2.5mを超える場合があります。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">最大搬送質量は何㎏ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">アタッチメント重量を含めて定格可搬質量は50㎏となります。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">多品種のワークに対応できますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">ワークの重量を都度検知するシステムのため、可搬質量内であれば多品種に対応できます。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">固定方法にはどのような種類がありますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  床置き固定、床置きパレット、柱固定、天吊り固定の4種類から選択可能です。<br>
                  その他のご希望がある場合はご相談ください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">移動式にすることは可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  床置きパレットタイプをお選びいただくと、フォークリフトによる移動が可能です。<br>
                  ただし、設置後は所定の位置での固定が必要です。<br>
                  パレットリフタ等での移動を検討されている場合は別途ご相談ください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">アタッチメントの製作は可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    実績のあるアタッチメントについては、<a href="../attachment/" class="txt-link">こちらより</a>ご確認いただけます。<br>
                    実績のないアタッチメントでも、設計・製作が可能ですので、ご相談ください。<br>
                    また、お客様ご自身での製作も可能です。
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">メンテナンスは必要ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  取扱説明書に基づいた対応を推奨しております。<br>
                  日常点検としては、エア質（エレメント）の管理およびロープの目視確認を中心に実施してください。<br>
                  定期点検やメンテナンスをご希望の場合は、最寄りのCKD営業所までご連絡ください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">海外販売は可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">はい、海外販売にも対応しております。詳細はお問い合わせください。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
  <script>
        var question = $('.faq__question__box');
        var answer = $('.faq__js-trigger');
          $(answer).hide();
          $(question).click(function () {
            $(this).toggleClass('active');
            $(this).next().slideToggle(300);
          });
  </script>
</body>

</html>