<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/faq/",
  title: "FAQ | 高自由度助力臂 FAW | CKD株式会社",
  keywords: "高自由度助力臂,助力装置,バランサ,FAQ",
  description: "フレックスアームに関するよくあるご質問にお答えします。"}); 
  %>

<body id="faq">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">FAQ</h1>
      <p class="common-main-visual__lead">回答您的问题。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">高自由度助力臂</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">FAQ</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section class="faq">
      <div class="l-inner">
        <h2 class="faq__title">单击查看答案。</h2>
        <ul class="faq__list">
          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">高自由度助力臂的大致费用是多少？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    因规格而异，首先通过<a href="https://www.ckd-contact.com/form/96a4ca4f3c/input" class="txt-link" target="_blank">咨询表</a>进行协商。<br>
                    我们将根据客户的需求，提供最佳规格方案，并附上概算价格。
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">对场所是否有指定？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    建议采用平整且粉尘较少、不接触水的场所。<br>
                    考虑在特殊环境（粉尘、水滴、洁净室等）下使用时，请通过<a href="https://www.ckd-contact.com/form/96a4ca4f3c/input" class="txt-link" target="_blank">咨询表</a>与本公司协商。
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">需要提前准备什么东西吗？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">请准备气源。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">是否可提供演示？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">可以。但是，只限在我司进行演示。详情请咨询本公司。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">交货期限是多少？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">通常约2个月，但根据规格及时期的不同，可能会发生变动。详情请垂询本公司。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">与PAW系列有何不同？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  PAW系列是可根据使用位置选择轴构成，从下往上的平衡吊。<br>
                  另一方面，FAW系列属于上下行程为1.5m，可安装在装置高达2.5m(※)、天花板低的场所的封装规格。<br>
                  ※根据不同的使用条件，总高度可能会超过2.5m。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">最大搬送質量は何㎏ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">アタッチメント重量を含めて定格可搬質量は50㎏となります。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">多品種のワークに対応できますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">ワークの重量を都度検知するシステムのため、可搬質量内であれば多品種に対応できます。</p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">固定方法にはどのような種類がありますか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  床置き固定、床置きパレット、柱固定、天吊り固定の4種類から選択可能です。<br>
                  その他のご希望がある場合はご相談ください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">移動式にすることは可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  床置きパレットタイプをお選びいただくと、フォークリフトによる移動が可能です。<br>
                  ただし、設置後は所定の位置での固定が必要です。<br>
                  パレットリフタ等での移動を検討されている場合は別途ご相談ください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">アタッチメントの製作は可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  <span class="txt-inner">
                    実績のあるアタッチメントについては、<a href="../attachment/" class="txt-link">こちらより</a>ご確認いただけます。<br>
                    実績のないアタッチメントでも、設計・製作が可能ですので、ご相談ください。<br>
                    また、お客様ご自身での製作も可能です。
                  </span>
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">メンテナンスは必要ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">
                  取扱説明書に基づいた対応を推奨しております。<br>
                  日常点検としては、エア質（エレメント）の管理およびロープの目視確認を中心に実施してください。<br>
                  定期点検やメンテナンスをご希望の場合は、最寄りのCKD営業所までご連絡ください。
                </p>
              </div>
            </div>
          </li>

          <li class="faq__item">
            <div class="faq__question__box">
              <span class="faq__num faq__question__num">Q</span>
              <p class="faq__question__box__text">海外販売は可能ですか？</p>
            </div>
            <div class="faq__js-trigger">
              <div class="faq__answer__box">
                <span class="faq__num faq__answer__num">A</span>
                <p class="faq__answer__box__text">はい、海外販売にも対応しております。详情请咨询本公司。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>


  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
  <script>
        var question = $('.faq__question__box');
        var answer = $('.faq__js-trigger');
          $(answer).hide();
          $(question).click(function () {
            $(this).toggleClass('active');
            $(this).next().slideToggle(300);
          });
  </script>
</body>

</html>