<footer class="footer">
  <div class="footer-contact">
    <p class="footer-contact__lead">フレックスアームについてのお問い合わせはこちら！</p>
    <div class="footer-contact__links">
      <div class="footer-contact__link-btn common__link-btn-overlap">
        <a class="common__link-btn-overlap-btn" target="_blank" href="https://www.ckd-contact.com/form/96a4ca4f3c/input">デモ依頼・お問い合わせ</a>
        <div class="common__link-btn-bg"></div>
        <div class="footer-contact__link-floating-text">ご相談はコチラ！</div>
      </div>
      <div class="footer-contact__link-btn common__link-btn-overlap">
        <a id="downloadLink" class="common__link-btn-overlap-btn" href="https://www.ckd.co.jp/kiki/jp/product/detail/1078/">カタログ ダウンロード</a>
        <div class="common__link-btn-bg"></div>
        <div class="footer-contact__link-floating-text">製品詳細が気になる方はコチラ！</div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <ul class="footer-bottom__site-link">
      <li><a href="https://www.ckd.co.jp/kiki/jp/">機器商品トップ</a></li>
      <li><a href="https://www.ckd.co.jp/company/">会社情報</a></li>
      <li><a href="https://www.ckd.co.jp/privacy/">プライバシーポリシー</a></li>
    </ul>
    <div class="support">
      <span class="support__ttl">
        <svg version="1.1" class="icon" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#000000;}
          </style>
          <g>
            <path class="st0" d="M94.811,21.696c-35.18,22.816-42.091,94.135-28.809,152.262c10.344,45.266,32.336,105.987,69.42,163.165
              c34.886,53.79,83.557,102.022,120.669,129.928c47.657,35.832,115.594,58.608,150.774,35.792
              c17.789-11.537,44.218-43.058,45.424-48.714c0,0-15.498-23.896-18.899-29.14l-51.972-80.135
              c-3.862-5.955-28.082-0.512-40.386,6.457c-16.597,9.404-31.882,34.636-31.882,34.636c-11.38,6.575-20.912,0.024-40.828-9.142
              c-24.477-11.262-51.997-46.254-73.9-77.947c-20.005-32.923-40.732-72.322-41.032-99.264c-0.247-21.922-2.341-33.296,8.304-41.006
              c0,0,29.272-3.666,44.627-14.984c11.381-8.392,26.228-28.286,22.366-34.242l-51.972-80.134c-3.401-5.244-18.899-29.14-18.899-29.14
              C152.159-1.117,112.6,10.159,94.811,21.696z" style="fill: rgb(0, 0, 0);"></path>
          </g>
          </svg>
        <span class="ttl">お客様サポート</span>
      </span>
      <span class="tel">
        <span class="tel__wrap">
          TEL :&nbsp;<span class="num">0120-771-060</span>
        </span>
        <span class="s-txt">9:00~12:00 / 13:00~17:00（土日、休日除く）</span>
      </span>
      <span class="txt">
        納期・価格・カタログ・図面は<br>
        最寄りの営業所へお問い合わせください。
      </span>
    </div>
    <ul class="footer-bottom__sns-link">
      <li><a target="_blank" href="https://www.facebook.com/CKDCorporation.1943/"><img src="<%= path %>/assets/images/footer_sns_01.svg" alt=""></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCMu6uweQSKgjPHcZNopS6bA"><img src="<%= path %>/assets/images/footer_sns_02.svg" alt=""></a></li>
      <li><a target="_blank" href="https://www.instagram.com/ckdcorporation/"><img src="<%= path %>/assets/images/footer_sns_03.svg" alt=""></a></li>
    </ul>
  </div>
  <p class="footer-copy">
    ©CKD Corporation. All Rights Reserved.
  </p>
</footer>