<footer class="footer">
  <div class="footer-contact">
    <p class="footer-contact__lead">关于高自由度助力臂的咨询，请点击此处！</p>
    <div class="footer-contact__links">
      <div class="footer-contact__link-btn common__link-btn-overlap">
        <a class="common__link-btn-overlap-btn" target="_blank" href="https://www.ckd-contact.com/form/96a4ca4f3c/input">演示请求／咨询</a>
        <div class="common__link-btn-bg"></div>
        <div class="footer-contact__link-floating-text">请垂询本公司！</div>
      </div>
      <div class="footer-contact__link-btn common__link-btn-overlap">
        <a id="downloadLink" class="common__link-btn-overlap-btn" href="https://www.ckd.co.jp/kiki/jp/product/detail/1078/">产品样本下载</a>
        <div class="common__link-btn-bg"></div>
        <div class="footer-contact__link-floating-text">有兴趣的客户，请点击此处！</div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <ul class="footer-bottom__site-link">
      <li><a href="https://www.ckd.co.jp/kiki/jp/">元件产品首页</a></li>
      <li><a href="https://www.ckd.co.jp/company/">公司信息</a></li>
      <li><a href="https://www.ckd.co.jp/privacy/">隐私保护</a></li>
    </ul>
    <ul class="footer-bottom__sns-link">
      <li><a target="_blank" href="https://www.facebook.com/CKDCorporation.1943/"><img src="<%= path %>/assets/images/footer_sns_01.svg" alt=""></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCMu6uweQSKgjPHcZNopS6bA"><img src="<%= path %>/assets/images/footer_sns_02.svg" alt=""></a></li>
      <li><a target="_blank" href="https://www.instagram.com/ckdcorporation/"><img src="<%= path %>/assets/images/footer_sns_03.svg" alt=""></a></li>
    </ul>
  </div>
  <p class="footer-copy">
    ©CKD Corporation. All Rights Reserved.
  </p>
</footer>