<main class="main">
  <h1 class="title">This is TOP Page</h1>
  <div class="top-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="<%= meta.imgPath %>swiper-slide-01.jpg" alt="" width="" height="">
      </div>
      <div class="swiper-slide">
        <img src="<%= meta.imgPath %>swiper-slide-02.jpg" alt="" width="" height="">
      </div>
      <div class="swiper-slide">
        <img src="<%= meta.imgPath %>swiper-slide-03.jpg" alt="" width="" height="">
      </div>
    </div><!-- // .swiper-wrapper -->
  </div><!-- // .swiper -->
</main>