<% const page='home' ; %>
  <!DOCTYPE html>
  <html lang="ja">
  <%- include('./includes/_head.ejs', { path: "./" , url: "/" , title: "高自由度助力臂 FAW［TOP］ | CKD株式会社" ,
    keywords: "CKD株式会社,高自由度助力臂,助力装置,バランサ,重物提起, 重体力劳动, 现场改善, 腰痛" ,
    description: "フレックスアームは圧縮エアを用いた下方からアプローチできる新しいバランサです。" }); %>

    <body id="index">
      <%- include('./includes/_header.ejs', {path: "./" }); %>
        <main>
          <section class="main-visual">
            <div class="main-visual__wrapper">
              <div class="main-visual__left-block">
                <h1 class="main-visual__title pc"><img src="./assets/images/mv_ttl.svg?240823"
                    alt="FAWSeries Compact Arm"></h1>
                <div class="main-visual__image">
                  <img src="./assets/images/mv_main-img.png" alt="FAWSeries Compact Arm">
                </div>
              </div>
              <div class="main-visual__right-block">
                <ul class="main-visual__problem-list">
                  <li class="main-visual__problem-item">重物提起</li>
                  <li class="main-visual__problem-item">重体力劳动</li>
                  <li class="main-visual__problem-item">现场改善</li>
                  <li class="main-visual__problem-item">腰痛</li>
                </ul>
                <h1 class="main-visual__title sp"><img src="./assets/images/mv_ttl.svg" alt="FAWSeries Compact Arm">
                </h1>
                <p class="main-visual__description">
                  高自由度助力臂是工作范围广，可搬送重量50㎏的空压平衡器。<br>
                  适用于以前难以部署助力装置的场所，有助于提高作业效率。
                </p>
                <div class="main-visual__movie-wrap">
                  <iframe src="https://www.youtube.com/embed/adodA9Z9or4?si=nEyKv1kwSX1CLO5i"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                  </iframe>
                </div>
                <div class="armwrap">
                  <div class="arm" id="arm">
                    <!-- <span class="armline"></span> -->
                  </div>
                  <ul class="main-visual__animation-links">
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./feature/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">高自由度助力臂<br>的特点</span>
                        </div>
                      </a>
                    </li>
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./case/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">示例集</span>
                        </div>
                      </a>
                    </li>
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./attachment/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">附件示例</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="main-visual__border"></div>
          </section>

          <section class="example">
            <div class="example__title-wrap">
              <h2 class="example__title">
                关于助力装置的引进，<br>是否有这样的烦恼？<span class="example__title--l"></span>
              </h2>
            </div>
            <div class="l-inner">
              <ul class="example__list">
                <li class="example__list-item">因为操作困难，所以产生不安</li>
                <li class="example__list-item">作业空间小，无法确保安装场所</li>
                <li class="example__list-item">安全性令人不安，难以在现场部署</li>
                <li class="example__list-item">希望降低引进成本</li>
              </ul>
            </div>
            <p class="example__lead">
              高自由度助力臂具有简单操作、<br class="sp">
              省空间、高安全性，<br>
              <span class="example__lead--l">可应对这些挑战！</span>
            </p>
          </section>

          <section class="feature">
            <div class="l-inner">
              <h2 class="feature__title">
                高自由度助力臂的特点
              </h2>
              <p class="feature__lead">
                高自由度助力臂是工作范围广，可搬送重量50㎏的空压平衡器。<br>
                可安装在柱体和天花板上，为天花板较低的场所或空间有限的场所提供灵活性。
              </p>
              <ul class="common-feature__list feature__list">
                <li class="common-feature__item">
                  <a href="./feature/#point01">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">01</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Simple</h3>
                        <div class="common-feature__card-img -img01"><img
                            src="./assets/images/feature_img_01.png?240920" alt="结构简单、操作简单"></div>
                      </div>
                      <p class="common-feature__card-lead">可安装在柱体和天花板上，<br>为天花板较低的场所或空间有限的场所提供灵活性。</p>
                    </div>
                  </a>
                </li>
                <li class="common-feature__item">
                  <a href="./feature/#point02">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">02</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Wide</h3>
                        <div class="common-feature__card-img -img02"><img
                            src="./assets/images/feature_img_02.png?240920" alt="コンパクトで取り付けが簡単"></div>
                      </div>
                      <p class="common-feature__card-lead">活动范围广，<br>高度低</p>
                    </div>
                  </a>
                </li>
                <li class="common-feature__item">
                  <a href="./feature/#point03">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">03</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Safety</h3>
                        <div class="common-feature__card-img -img03"><img
                            src="./assets/images/feature_img_03.png?240920" alt="任何人都能安全使用"></div>
                      </div>
                      <p class="common-feature__card-lead">任何人都能安全使用</p>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="feature__link-btn-wrap common__link-btn-overlap">
                <a class="feature__link-btn common__link-btn-overlap-btn -arrow" href="./feature/">了解特征</a>
                <div class="common__link-btn-bg"></div>
              </div>
            </div>
          </section>

          <section class="link-section">
            <div class="s-inner">
              <ul class="link-section__banner-list">
                <li class="link-section__banner common__link-btn-overlap">
                  <a href="./case/" class="common__link-btn-overlap-btn--w link-section__banner-flx-box">
                    <div class="link-section__banner-text-block">
                      <h3 class="link-section__banner-ttl">
                        示例集<br class="sp">（部署·用途）
                      </h3>
                      <p class="link-section__banner-text">介绍案例分析和用途示例。</p>
                    </div>
                    <div class="link-section__banner-img-block">
                      <img src="./assets/images/case_img.jpg" alt="サムネイル">
                    </div>
                  </a>
                  <div class="common__link-btn-bg"></div>
                </li>
              </ul>

              <ul class="link-section__links link-section__links--column3">
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./attachment/" class="common__link-btn-overlap-btn--w">附件示例 </a>
                  <div class="common__link-btn-bg"></div>
                </li>
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./faq/" class="common__link-btn-overlap-btn--w">FAQ</a>
                  <div class="common__link-btn-bg"></div>
                </li>
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./product/" class="common__link-btn-overlap-btn--w">关联产品</a>
                  <div class="common__link-btn-bg"></div>
                </li>
              </ul>

            </div>
          </section>
        </main>

        <%- include('./includes/_footer.ejs', {path: "./" }); %>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
          <script src="./assets/js/index.js?20221206"></script>
          <script>

            const video = document.querySelector('#video01');
            const video_btn = document.querySelector('#video_btn');
            let is_playing = false;
            video_btn.addEventListener('click', () => {
              if (!is_playing) {
                video.play();
                video.controls = true;
                is_playing = true;
                $("#video_btn").hide();
              } else {
                video.pause();
                is_playing = false;
              }
            });
          </script>
    </body>

  </html>