<% const page='home' ; %>
  <!DOCTYPE html>
  <html lang="ja">
  <%- include('./includes/_head.ejs', { path: "./" , url: "/" , title: "フレックスアーム FAW［TOP］ | CKD株式会社" ,
    keywords: "CKD株式会社,フレックスアーム,助力装置,バランサ,重量物持ち上げ, 重労働, 職場改善, 腰痛" ,
    description: "フレックスアームは圧縮エアを用いた下方からアプローチできる新しいバランサです。" }); %>

    <body id="index">
      <%- include('./includes/_header.ejs', {path: "./" }); %>
        <main>
          <section class="main-visual">
            <div class="main-visual__wrapper">
              <div class="main-visual__left-block">
                <h1 class="main-visual__title pc"><img src="./assets/images/mv_ttl.svg?240823"
                    alt="FAWSeries Compact Arm"></h1>
                <div class="main-visual__image">
                  <img src="./assets/images/mv_main-img.png" alt="FAWSeries Compact Arm">
                </div>
              </div>
              <div class="main-visual__right-block">
                <ul class="main-visual__problem-list">
                  <li class="main-visual__problem-item">重量物<br>持ち上げ</li>
                  <li class="main-visual__problem-item">重労働</li>
                  <li class="main-visual__problem-item">職場改善</li>
                  <li class="main-visual__problem-item">腰痛</li>
                </ul>
                <h1 class="main-visual__title sp"><img src="./assets/images/mv_ttl.svg" alt="FAWSeries Compact Arm">
                </h1>
                <p class="main-visual__description">
                  フレックスアームは、広い作業範囲を持ち、定格可搬質量50㎏に対応したエアバランサです。<br>
                  これまで助力装置の導入が難しかった現場にも適応し、作業の効率化や現場改善に貢献します。
                </p>
                <div class="main-visual__movie-wrap">
                  <iframe src="https://www.youtube.com/embed/adodA9Z9or4?si=nEyKv1kwSX1CLO5i"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                  </iframe>
                </div>
                <div class="armwrap">
                  <div class="arm" id="arm">
                    <!-- <span class="armline"></span> -->
                  </div>
                  <ul class="main-visual__animation-links">
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./feature/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">FAWの<br>特徴</span>
                        </div>
                      </a>
                    </li>
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./case/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">事例集</span>
                        </div>
                      </a>
                    </li>
                    <li class="main-visual__animation-item">
                      <a class="main-visual__animation-trigger" href="./attachment/">
                        <span class="main-visual__animation-click">Click</span>
                        <div class="main-visual__animation-box">
                          <span class="main-visual__animation-text">アタッチ<br>メント例</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="main-visual__border"></div>
          </section>

          <section class="example">
            <div class="example__title-wrap">
              <h2 class="example__title">
                助力装置導入で、<br>こんなお悩みありませんか？<span class="example__title--l"></span>
              </h2>
            </div>
            <div class="l-inner">
              <ul class="example__list">
                <li class="example__list-item">操作が難しそうで、使いこなせるか不安</li>
                <li class="example__list-item">作業スペースが狭く、設置場所が確保できない</li>
                <li class="example__list-item">安全性に不安があり、現場に導入しづらい</li>
                <li class="example__list-item">導入コストを抑えたい</li>
              </ul>
            </div>
            <p class="example__lead">
              フレックスアームは、<br class="sp">
              簡単操作・省スペース・高い安全性で、<br>
              <span class="example__lead--l">これらのお悩みを解決します！</span>
            </p>
          </section>

          <section class="feature">
            <div class="l-inner">
              <h2 class="feature__title">
                フレックスアームの特徴
              </h2>
              <p class="feature__lead">
                「フレックスアーム」は、広い作業範囲を持ち、定格可搬質量50㎏に対応したエアバランサです。<br>
                柱や天井への取り付けが可能で、低天井や床スペースが限られた現場にも柔軟に対応できます。
              </p>
              <ul class="common-feature__list feature__list">
                <li class="common-feature__item">
                  <a href="./feature/#point01">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">01</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Simple</h3>
                        <div class="common-feature__card-img -img01"><img
                            src="./assets/images/feature_img_01.png?240920" alt="シンプルな構造・簡単な操作"></div>
                      </div>
                      <p class="common-feature__card-lead">シンプルな構造・<br>簡単な操作</p>
                    </div>
                  </a>
                </li>
                <li class="common-feature__item">
                  <a href="./feature/#point02">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">02</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Wide</h3>
                        <div class="common-feature__card-img -img02"><img
                            src="./assets/images/feature_img_02.png?240920" alt="コンパクトで取り付けが簡単"></div>
                      </div>
                      <p class="common-feature__card-lead">可動範囲は広く、<br>高さは最小限</p>
                    </div>
                  </a>
                </li>
                <li class="common-feature__item">
                  <a href="./feature/#point03">
                    <div class="common-feature__card">
                      <div class="common-feature__card-floating-text">
                        POINT
                        <span class="common-feature__card-floating-text--l">03</span>
                      </div>
                      <div class="common-feature__text-blk">
                        <h3 class="common-feature__card-title common-en-bold">Safety</h3>
                        <div class="common-feature__card-img -img03"><img
                            src="./assets/images/feature_img_03.png?240920" alt="安全機構により誰でも安全に使用可能"></div>
                      </div>
                      <p class="common-feature__card-lead">誰でも安全に<br>使用可能</p>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="feature__link-btn-wrap common__link-btn-overlap">
                <a class="feature__link-btn common__link-btn-overlap-btn -arrow" href="./feature/">特徴を詳しく見る</a>
                <div class="common__link-btn-bg"></div>
              </div>
            </div>
          </section>

          <section class="link-section">
            <div class="s-inner">
              <ul class="link-section__banner-list">
                <li class="link-section__banner common__link-btn-overlap">
                  <a href="./case/" class="common__link-btn-overlap-btn--w link-section__banner-flx-box">
                    <div class="link-section__banner-text-block">
                      <h3 class="link-section__banner-ttl">
                        事例集<br class="sp">(導入・用途)
                      </h3>
                      <p class="link-section__banner-text">導入事例と用途事例をご紹介します。</p>
                    </div>
                    <div class="link-section__banner-img-block">
                      <img src="./assets/images/case_img.jpg" alt="サムネイル">
                    </div>
                  </a>
                  <div class="common__link-btn-bg"></div>
                </li>
              </ul>

              <ul class="link-section__links link-section__links--column3">
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./attachment/" class="common__link-btn-overlap-btn--w">アタッチメント例 </a>
                  <div class="common__link-btn-bg"></div>
                </li>
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./faq/" class="common__link-btn-overlap-btn--w">FAQ</a>
                  <div class="common__link-btn-bg"></div>
                </li>
                <li class="link-section__link-btn common__link-btn-overlap">
                  <a href="./product/" class="common__link-btn-overlap-btn--w">関連商品</a>
                  <div class="common__link-btn-bg"></div>
                </li>
              </ul>

            </div>
          </section>
        </main>

        <%- include('./includes/_footer.ejs', {path: "./" }); %>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
          <script src="./assets/js/index.js?20221206"></script>
          <script>

            const video = document.querySelector('#video01');
            const video_btn = document.querySelector('#video_btn');
            let is_playing = false;
            video_btn.addEventListener('click', () => {
              if (!is_playing) {
                video.play();
                video.controls = true;
                is_playing = true;
                $("#video_btn").hide();
              } else {
                video.pause();
                is_playing = false;
              }
            });
          </script>
    </body>

  </html>