<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/product/",
  title: "关联产品 | 高自由度助力臂 FAW | CKD株式会社",
  keywords: "高自由度助力臂,助力装置,バランサ,关联产品,バランサ,エアサプライ",
  description: "フレックスアームに関連する商品をご紹介します。"}); 
  %>

<body id="product">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">关联产品</h1>
      <p class="common-main-visual__lead">介绍关联产品。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">元件产品首页</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">高自由度助力臂</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">关联产品</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section class="product">
      <div class="l-inner">
        <h2 class="product__title">点击可查看各产品的详细信息。</h2>
        <ul class="product__link-list">
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="https://www.ckd.co.jp/kiki/jp/paw/">
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">机械助力臂PAW系列</h3>
                  <p class="product__link-lead-sub">
                    PAW系列是可使用压缩空气从下侧、前方进行进气的新方式的平衡器（重量辅助元件）。<br>
                    最大80kg(*)的重物也可轻松提起。<br>
                    采用多轴规格可折叠，收纳时更紧凑。<br>
                    可用于翻转等复杂作业。<br>
                    (*)因规格而异。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_01.png" alt="机械助力臂PAW系列">
                  <img class="sp" src="../assets/images/product/link_img_01.png" alt="机械助力臂PAW系列">
                </figure>
              </div>
              <div class="product__link-btn">了解更多信息</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="cawLink" class="common__content-link-btn" href="">
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">紧凑型助力臂CAW系列</h3>
                  <p class="product__link-lead-sub">
                    支持工具、工具等的保持、操作的紧凑型空气平衡器。<br>
                    低滑动气缸和高刚性导轨，减轻作业人员的负担，实现了易用性。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_02.png" alt="フレックスアームFAWシリーズ">
                  <img class="sp" src="../assets/images/product/link_img_02.png" alt="フレックスアームFAWシリーズ">
                </figure>
              </div>
              <div class="product__link-btn">了解更多信息</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="https://www.ckd.co.jp/kiki/jp/pdf/LN-007.pdf" download>
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">支撑臂SAW系列</h3>
                  <p class="product__link-lead-sub">
                    支持最大130kg的重物升降和旋转移动。<br>
                    凭借轻便的操作性与安全性，任何人都能轻松安全搬送重物。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_03.jpg" alt="吊り下げ式バランサユニットBBSシリーズ">
                  <img class="sp" src="../assets/images/product/link_img_03.jpg" alt="吊り下げ式バランサユニットBBSシリーズ">
                </figure>
              </div>
              <div class="product__link-btn">下载资料</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a class="common__content-link-btn" href="https://www.ckd.co.jp/kiki/jp/caw/assets/pdf/bbs_series.pdf" download>
              <div class="product__link-block column">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">极低滑动平衡吊气缸　BBS系列</h3>
                  <p class="product__link-lead-sub">
                    平衡器用低摩擦气缸（带制动）。<br>
                    它简单且安全，不会让作业人员感到压力。<br>
                    可装配到客户的所有装置中。<br>
                    ※无自动平衡。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="pc" src="../assets/images/product/link_img_04.png" alt="吊り下げ式バランサユニットBBSシリーズ">
                  <img class="sp" src="../assets/images/product/link_img_04.png" alt="吊り下げ式バランサユニットBBSシリーズ">
                </figure>
              </div>
              <div class="product__link-btn">下载资料</div>
            </a>
          </li>
        </ul>
        <h3 class="product__other-title">其他关联产品</h3>
        <ul class="product__link-list">
          <li class="product__link common__content-link-btn__wrap">
            <a id="asuLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">压缩空气便携式气源供应单元ASU系列</h3>
                  <p class="product__link-lead-sub">
                    即使在没有压缩空气的场所，只需使用AC100V电源，即可轻松供应洁净的空气，这就是小型压缩机。<br>
                    手提箱备有所需的一切，轻松携带。<br>
                    设计性优异，适用于办公室、研究实验室、展会等各种场合。
                  </p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_05.png" alt="压缩空气便携式气源供应单元ASU系列">
                </figure>
              </div>
              <div class="product__link-btn">了解更多信息</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="abpLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">空气增压器 ABP系列</h3>
                  <p class="product__link-lead-sub">无需用电，通过与储气罐组合，仅利用气压即可增压到相当于一次侧压力2倍(最高0.99MPa)的程度。</p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_06.png" alt="精密减压阀RP系列">
                </figure>
              </div>
              <div class="product__link-btn">了解更多信息</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="atLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">储气罐AT系列</h3>
                  <p class="product__link-lead-sub">不锈钢制产品，备有5L及10L规格。</p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_07.png" alt="精密减压阀RP系列">
                </figure>
              </div>
              <div class="product__link-btn">了解更多信息</div>
            </a>
          </li>
          <li class="product__link common__content-link-btn__wrap">
            <a id="rpLink" class="common__content-link-btn" href="">
              <div class="product__link-block">
                <div class="product__link-text-blk">
                  <h3 data-mh="ttl" class="product__link-main-text">精密减压阀RP系列</h3>
                  <p class="product__link-lead-sub">具有高精度压力控制、压力降小且稳定的流量特性，尺寸紧凑的同时，溢流流量大。</p>
                </div>
                <figure class="product__link-image">
                  <img class="" src="../assets/images/product/link_img_08.jpg" alt="精密减压阀RP系列">
                </figure>
              </div>
              <div class="product__link-btn">了解更多信息</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>