<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/case/case01/",
  title: "導入事例［CKD株式会社 小牧工場］ | フレックスアーム FAW | CKD株式会社",
  keywords: "フレックスアーム,助力装置,バランサ,導入事例,防爆,重量物搬送,移載作業",
  description: "ナットランナーでのねじ締付け作業の負担軽減"}); 
  %>

<body id="case-study-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title common-main-visual__title--small">
        協働ロボットの可搬質量アップ！<br>
        フレックスアームでのサポートによる<br class="sp">少人化・無人化
      </h1>
      <p class="common-main-visual__lead">株式会社シリックス様</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">フレックスアーム</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">導入事例</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">協働ロボットの可搬質量アップ！フレックスアームでのサポートによる少人化・無人化</span>
          </a>
          <meta itemprop="position" content="4">
        </li>
      </ol>
    </div>

    <section class="case-study-detail">
      <div class="l-inner">
        <figure class="case-study-detail__main-visual">
          <img src="../../assets/images/case_study/01/main_visual.jpg" alt="サムネイル">
        </figure>
        <p class="case-study-detail__main-lead">
          作業者不足により、重量物の搬送に課題を抱える企業は少なくありません。<br>
          株式会社シリックス様は、重量物搬送の少人化・無人化と安全性の両立を目指し、新たなソリューションに挑戦されました。その鍵を握ったのが「協働ロボット×フレックスアーム」の融合です。<br>
          株式会社シリックス様は、三重県四日市を拠点に、1983年の創立以来、電気と制御の技術で効率的な“生産システムづくり”を行うシステムインテグレータ（SIer）様です。今回のシステム開発にあたり、課題やフレックスアームに注目頂いた理由をお伺いしました。
        </p>

        <h2 class="case-study-detail__section-ttl">課 題</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_01.jpg" alt="課題"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">20kg以上の自動搬送システムに課題</h3>
            <p class="case-study-detail__section-text">作業者不足を背景に、ロボットの導入が進む中、シリックス様にもパレタイジングや自動搬送に関するシステム開発のご相談が数多く寄せられていました。</p>
          </div>
        </div>
        <span class="case-study-detail__arrow"><img src="../../assets/images/case_study/01/section_arrow.svg" alt="アイコン"></span>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--color">採用のきっかけ</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_02.png" alt="FAWSeries Compact Arm"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">シンプルな制御と広い可動範囲</h3>
            <p class="case-study-detail__section-text">
              協働ロボットの可動範囲と許容荷重の課題に対して、シリックス様は補助装置として「助力装置」との組み合わせに着目されました。<br>
              他の助力装置も検討されましたが、制御の複雑さや設置の自由度に課題があり、フレックスアームの「シンプルな制御と広い可動範囲」が導入の決め手となったそうです。<br>
              フレックスアームは、エアシリンダを使用したシンプルな構造で、電源を必要としないオールエア仕様。「シンプルな制御ができる」点をまず高く評価されました。<br>
              さらに、旋回半径2.5m・上下ストローク1.5ｍという広い作業範囲により、協働ロボットの動作を妨げることなく、柔軟な自動搬送が可能となった点も大きな導入理由の一つです。
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--black">導入後の効果</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_03.jpg" alt="導入後の効果"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">これまで実現できなかった搬送作業が可能に</h3>
            <p class="case-study-detail__section-text">
              フレックスアームと協働ロボットを組み合わせたことで、従来の協働ロボット単体では対応が難しかった重量物の搬送が可能となり、理論上は最大60kgまで対応可能な自動搬送システムの提案が実現しました。<br>
              またCKDのノウハウを活用し、袋・ペール缶・一斗缶などさまざまな形状や重量のワークに対応した自動化設備の提案も可能になりました。<br>
              今後は、ロールやフィルムといった比較的取り扱いが難しいワークに対しても、助力装置と協働ロボットを組み合わせることで、自動搬送できるようにしたいと語っておられました。
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__movie-block-title">動画紹介</h2>
        <div class="case-study-detail__movie-block">
          <%- include('../../includes/component/_movie_youtube.ejs', {videoId: "GNzolKRvzMQ"}); %>
        </div>
        <div class="case-study-detail__link-btn-wrap common__link-btn-overlap">
          <a class="case-study-detail__link-btn common__link-btn-overlap-btn -arrow" href="../">一覧に戻る</a>
          <div class="common__link-btn-bg"></div>
        </div>

      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
</body>

</html>