<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../../includes/_head.ejs', {
  path: "../../",
  url: "/case/case01/",
  title: "導入事例［CKD株式会社小牧工场］ | 高自由度助力臂 FAW | CKD株式会社",
  keywords: "高自由度助力臂,助力装置,バランサ,导入示例,防爆,重量物搬送,移載作業",
  description: "ナットランナーでのねじ締付け作業の負担軽減"}); 
  %>

<body id="case-study-detail">
  <%- include('../../includes/_header.ejs', {path: "../../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title common-main-visual__title--small">
        提高协作机器人的可搬送重量！<br>
        通过高自由度助力臂实现节省人力甚至无人化
      </h1>
      <p class="common-main-visual__lead">SERIX公司</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/sc/" target="_blank">
            <span itemprop="name">元件产品首页</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">高自由度助力臂</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">导入示例</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">提高协作机器人的可搬送重量！通过高自由度助力臂实现节省人力甚至无人化</span>
          </a>
          <meta itemprop="position" content="4">
        </li>
      </ol>
    </div>

    <section class="case-study-detail">
      <div class="l-inner">
        <figure class="case-study-detail__main-visual">
          <img src="../../assets/images/case_study/01/main_visual.jpg" alt="サムネイル">
        </figure>
        <p class="case-study-detail__main-lead">
          由于工作人员短缺，很多公司在搬送重物方面都面临着挑战。<br>
          "SERIX公司以少人化、无人化与安全的重物搬送为目标，挑战全新的解决方案。对产品进行了融合“协作机器人×高自由度助力臂”。<br>
          1983年成立以来，SERIX公司一直以三重县四日市为基地，通过电气和控制技术，实现高效的“生产系统”。我们收集了相关课题信息和高自由度助力臂的使用北境。
        </p>

        <h2 class="case-study-detail__section-ttl">课 题</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_01.jpg" alt="挑战"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">20千克以上的自动搬送系统面临的挑战</h3>
            <p class="case-study-detail__section-text">由于作业人员短缺，机器人的引入被不断推进，SERIX公司也受到了这样的咨询。</p>
          </div>
        </div>
        <span class="case-study-detail__arrow"><img src="../../assets/images/case_study/01/section_arrow.svg" alt="アイコン"></span>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--color">采用契机</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_02.png" alt="FAWSeries Compact Arm"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">简单控制，活动范围大</h3>
            <p class="case-study-detail__section-text">
              对于协作机器人的可动范围和允许负荷的课题，SERIX公司考虑了利用“助力装置”作为辅助装置的组合。<br>
              其他助力设备存在着控制复杂性和安装自由度方面的挑战，高自由度助力臂凭借“简单控制”和“活动范围广泛”成功说服了客户。<br>
              高自由度助力臂使用气缸的简单结构，是无需电源的全气动规格。由于“操作简单”而广受好评。<br>
              另外，由于2.5m的旋转半径、上下行程1.5m的宽广作业范围，能在不妨碍协作机器人动作的情况下实现灵活自由的搬送。
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__section-ttl case-study-detail__section-ttl--black">引进后的效果-</h2>
        <div class="case-study-detail__section-block">
          <figure class="case-study-detail__section-image"><img src="../../assets/images/case_study/01/section_img_03.jpg" alt="引进后的效果-"></figure>
          <div class="case-study-detail__section-text-block">
            <h3 class="case-study-detail__section-title">使以前无法实现的搬送作业变为可能</h3>
            <p class="case-study-detail__section-text">
              通过将高自由度助力臂和协作机器人相结合，实现了理论上可支持的最大60kg的搬送。<br>
              利用CKD的技术，可对袋、塑料罐、油罐等各种形状及重型工件进行搬送。<br>
              今后，通过高自由度助力臂和协作机器人的结合，还可实现更多不同种类的工件搬送。
            </p>
          </div>
        </div>

        <h2 class="case-study-detail__movie-block-title">视频介绍</h2>
        <div class="case-study-detail__movie-block">
          <div class="common-movie-wrap">
            <%- include('../../includes/component/_movie.ejs', {poster: "assets/images/case_study/01/movie_thumb.jpg", filePath: "https://ckd.co-site.jp/ad/movie/kiki/sc/faw/1920-1080_FAW_UR_sc_disclaimer.mp4",path: "../../"}); %>
          </div>
        </div>
        <div class="case-study-detail__link-btn-wrap common__link-btn-overlap">
          <a class="case-study-detail__link-btn common__link-btn-overlap-btn -arrow" href="../">返回列表</a>
          <div class="common__link-btn-bg"></div>
        </div>

      </div>
    </section>
  </main>
  <%- include('../../includes/_footer.ejs', {path: "../../"}); %>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../../assets/js/index.js?20221206"></script>
</body>

</html>